* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
}

body{
    height: 100vh;
    background-color: white;
}

.activado label{
    color: #8d8d8d;
    display: flex;
    align-items: center;
    text-decoration: line-through;
}

.desactivado {
    color: #313131;
}

.check {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.check:hover {
    background-color: #f4f3f2;
}

.check:checked{
    background-color: #37d7b2;
    background-image: url(./resorces/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px;
}

#contador{
    text-align: center;
    padding: 10px 20px;
    margin: 10px 10px;
}

.caja{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 10px;
    padding: 10px 20px;
    margin: 10px 10px;
    background-color: #f2f3f6;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 14px;
    color: #333;
    text-decoration: none;
    width: 650px;
    border: none;
    border-radius: 10px;
}

#fieldset00{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 10px 10px;
    background-color: white;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 14px;
    color: #333;
    text-decoration: none;
    width: 500px;
    border: none;
    transition: 0.5s;
}
#fieldset01{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 10px 10px;
    background-color: white;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 14px;
    color: #333;
    text-decoration: none;
    width: 500px;
    border: none;
}
#fieldset02{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 10px 10px;
    background-color: white;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 14px;
    color: #333;
    text-decoration: none;
    width: 500px;
    border: none;
}
#fieldset03{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 10px 10px;
    background-color: white;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 14px;
    color: #333;
    text-decoration: none;
    width: 500px;
    border: none;
}
#fieldset04{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 10px 10px;
    background-color: white;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 14px;
    color: #333;
    text-decoration: none;
    width: 500px;
    border: none;
}
#fieldset05{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 10px 10px;
    background-color: white;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 14px;
    color: #333;
    text-decoration: none;
    width: 500px;
    border: none;
}
#fieldset06{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 10px 10px;
    background-color: white;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 14px;
    color: #333;
    text-decoration: none;
    width: 500px;
    border: none;
}
#fieldset07{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 10px 10px;
    background-color: white;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 14px;
    color: #333;
    text-decoration: none;
    width: 500px;
    border: none;
}
#fieldset08{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 10px 10px;
    background-color: white;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 14px;
    color: #333;
    text-decoration: none;
    width: 500px;
    border: none;
}
#fieldset09{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 10px 10px;
    background-color: white;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 14px;
    color: #333;
    text-decoration: none;
    width: 500px;
    border: none;
}